<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" type="image/png" href="/images/icon.jpg" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.jpg" />
    <link rel="mask-icon" type="image/x-icon" href="/images/icon.jpg" color="#111" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title> Login </title>
</head>

<body translate="no">
    <div class="container">
        <!-- Heading -->
        <h1>SIGN IN</h1>

        <!-- Links -->
        <ul class="links">
            <li>
                <a href="#" id="signin">SIGN IN</a>
            </li>
            <li>
                <a href="http://localhost:3000/api/v1/auth/register" id="signup">SIGN UP</a>
            </li>
            <li>
                <a href="#" id="reset">RESET</a>
            </li>
        </ul>

        <% if (loginError) { %>
            <div style="color: red; text-align: center; font-weight: bolder;">
                <%= "username or password is wrong" %>
            </div>
            <% } %>

                <!-- Form -->
                <form action="http://localhost:3000/api/v1/auth/login" method="POST">
                    <!-- username input -->
                    <div class="input__block">
                        <input type="text" placeholder="username" class="input" name="username" />
                    </div>
                    <!-- password input -->
                    <div class="input__block">
                        <input type="password" placeholder="Password" class="input" name="password" />
                    </div>
                    <!-- sign in button -->
                    <button class="signin__btn">
                        Sign in
                    </button>
                </form>
                <!-- separator -->
                <div class="separator">
                    <p>OR</p>
                </div>

                <!-- google button -->
                <form action="http://localhost:3000/api/v1/auth/google" method="GET">
                    <button class="google__btn">
                        <i class="fa fa-google"></i>
                        Sign in with Google
                    </button>
                </form>

                <!-- discord button -->
                <form action="http://localhost:3000/api/v1/auth/discord" method="GET">
                    <button class="github__btn">
                        <i class="fa fa-github"></i>
                        Sign in with Discord
                    </button>

                </form>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script id="rendered-js">
        $(document).ready(function () {
            let reset = $(".links").find("li").find("#reset");
            let signin = $(".links").find("li").find("#signin");

            //----------- reset ---------------------
            reset.on("click", function (e) {
                e.preventDefault();
                $(document).find(".input__block").find(".input").val("");
            });

            signin.on("click", (e) => {
                e.preventDefault();
            });

        });
    </script>
</body>

</html>