<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" type="image/png" href="/icon.jpg" />
    <link rel="shortcut icon" type="image/x-icon" href="/icon.jpg" />
    <link rel="mask-icon" type="image/x-icon" href="/icon.jpg" color="#111" />
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title> Login </title>
</head>

<body translate="no">
    <div class="container">
        <!-- Heading -->
        <h1>SIGN IN</h1>

        <!-- Links -->
        <ul class="links">
            <li>
                <a href="#" id="signin">SIGN IN</a>
            </li>
            <li>
                <a href="http://localhost:3000/api/v1/auth/register" id="signup">SIGN UP</a>
            </li>
            <li>
                <a href="#" id="reset">RESET</a>
            </li>
        </ul>

        <% if (errorMessage) { %>
            <div style="color: red;">
                <%= errorMessage %>
            </div>
            <% } %>

                <!-- Form -->
                <form action="http://localhost:3000/api/v1/auth/login" method="POST">
                    <!-- email input -->
                    <div class="first-input input__block first-input__block">
                        <input type="text" placeholder="username" class="input" id="username" name="username" />
                    </div>
                    <!-- password input -->
                    <div class="input__block">
                        <input type="password" placeholder="Password" class="input" id="password" name="password" />
                    </div>
                    <!-- repeat password input -->
                    <div class="input__block">
                        <input type="email" placeholder="email" class="input email" id="email" name="email" />
                    </div>
                    <!-- sign in button -->
                    <button class="signin__btn">
                        Sign in
                    </button>
                </form>
                <!-- separator -->
                <div class="separator">
                    <p>OR</p>
                </div>

                <!-- google button -->
                <form action="http://localhost:3000/api/v1/auth/google" method="GET">
                    <button class="google__btn">
                        <i class="fa fa-google"></i>
                        Sign in with Google
                    </button>
                </form>

                <form action="http://localhost:3000/api/v1/auth/discord" method="GET">
                    <!-- discord button -->
                    <button class="github__btn">
                        <i class="fa fa-github"></i>
                        Sign in with Discord
                    </button>

                </form>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script id="rendered-js">
        $(document).ready(function () {
            let signup = $(".links").find("li").find("#signup");
            let signin = $(".links").find("li").find("#signin");
            let reset = $(".links").find("li").find("#reset");
            let form = $("form");
            let first_input = $("form").find(".first-input");
            let hidden_input = $("form").find(".input__block").find("#email");
            let signin_btn = $("form").find(".signin__btn");

            //----------- sign in ---------------------
            signin.on("click", function (e) {
                e.preventDefault();
                $(this).parent().parent().siblings("h1").text("SIGN IN");
                $(this).parent().css("opacity", "1");
                $(this).parent().siblings().css("opacity", ".6");
                form.attr('action', 'http://localhost:3000/api/v1/auth/login')
                first_input.addClass("first-input__block").
                    removeClass("signup-input__block");
                hidden_input.css({
                    "opacity": "0",
                    "display": "none"
                });

                signin_btn.text("Sign in");
            });

            //----------- reset ---------------------
            reset.on("click", function (e) {
                e.preventDefault();
                $(this).parent().parent().siblings("form").
                    find(".input__block").find(".input").val("");
            });
        });
    </script>
</body>

</html>