<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>메인 페이지입니다.</h1>
    <form method="GET" action="/api/v1/groceries"><input id="" type="submit" name=""
        value="상품 출력" /></form>
<form method="GET" action="/api/v1/auth/logout"><input id="" type="submit" name="" value="로그 아웃"></form>
</body>

</html>